[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pathlib2 = "~=2.3.3"
pytest = "*"
pytest-cov = "*"
check-manifest = "*"
tox = "*"
napalm-digineo-procurve = {editable = true,path = "."}
bumpversion = "*"

[packages]
